<html>

<head>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

    <title>Devpost-Explore</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='assets/images/devpost_logo_image.png') }}"/>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">

  <title>
    Write Up
  </title>

</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 0;">
    <a class="navbar-brand" href="/"><img height="40px" alt="Brand" src="{{ url_for('static', filename='assets/images/devpost_logo_written_trans.png') }}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Explore
            
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/new_blog">New</a>
        </li>

        
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>

      <button class="btn btn-info my-2 my-sm-0" style="margin-right: 20px;" disabled type="submit">BETA</button>

      {% if isLoggedIn == True %}
        <a href="/logout" style="margin-right: 20px; visibility: visible; "><button class="btn btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button></a>
        <a href="/login" style="margin-right: 20px; display: none;"><button class="btn btn btn-success my-2 my-sm-0" type="submit">Login</button></a>
        <button class="btn btn-secondary my-2 my-sm-0" style="visibility: visible;" disabled type="submit">{{ user_name }}</button>
      {% else %}
        <a href="/logout" style="margin-right: 20px; display: none;"><button class="btn btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button></a>
        <a href="/login" style="margin-right: 20px; visibility: visible;"><button class="btn btn btn-success my-2 my-sm-0" type="submit">Login</button></a>
        <button class="btn btn-secondary my-2 my-sm-0" style="display: none;" disabled type="submit">""</button>
      {% endif %}




      
    </div>
  </nav>
  
    <img src="{{ url_for('static', filename='assets/images/187_banner_u.png') }}" width="100%">

   
    
    <br><br>

    <div class="card-container">


      {% for row in rows %}

    
          <div class="card" style="width: 22rem; margin-bottom: 30px;">
            <img class="card-img-top" width="50px" height="200px" src="/static/assets/images/user_cache/{{ row['coverimage'] }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" style="height: 100px; overflow: hidden; text-overflow: ellipsis;">{{ row['title'] }}</h5>
              <!-- <p class="card-text" style="max-width: 50ch; height: 100px;  overflow: hidden; text-overflow: ellipsis;">{{ row['content'] }}</p> -->
              <a href="/blogs/{{ row['title'] }}" class="btn btn-primary">Read more</a>
            </div>
          </div>

      {% endfor %}

    </div>

    <footer>
      <div class="footer" id="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
  
              <h4><img style="height: 60px" src="{{ url_for('static', filename='assets/images/devpost_logo_image.png') }}" alt="logo"> &nbspdevpost.herokuapp.com </h4>
              <p>
                  We ,through our website Devpost, are interested to contribute in the learning journey of developers by enabling all the developers from different parts of the world to come and contribute to the growth of the developers community by writing and posting blogs.
              </p>
            </div>
            <div class="col-lg-3 col-sm-2 col-xs-3">
              <h3> Contact </h3>
              <ul>
                <li><a class="email" href="#"> devpost.app@gmail.com </a></li>
                <br />
                <li>
                  <p> Computer Science and Engineering Department PSIT </p>
                </li>
                <li>
                  <p> Bhauti, Kanpur-209305 </p>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-sm-2 col-xs-3">
              <ul>
                <li>
                  <h6> <a href="/about" style="margin-top: 5em"> ABOUT US</a>
                  </h6>
                </li>
                <li>
                  <h6><a href="mailto:devpost.app@gmail.com"> CONTACT US </a>
                    </h6>
                </li>
                <li>
                  <h6><a href="/login"> REGISTER </a>
                    </h6>
                </li>
                <li>
                  <h6><a href="/login"> LOGIN </a>
                    </h6>
                </li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="footer-bottom">
          <div class="container">
            <p class="pull-left copyright"> Copyright © Devpost 2021. All right reserved. </p>
  
          </div>
        </div>
        </div>
    </footer>

  

</body>

</html>