.card {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 20px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  /*background: rgba(47, 158, 20, 0.15);*/
  background-color: white;
  border-radius: 3px;
  /* border: solid rgb(42, 106, 10); */
  border-width: 1px;
  margin-bottom: 60px;
}

.card:hover {
  /*nav*/
  /*padding:15px;*/
  /* box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2); */
}

.card-container .card img {
  height: 200px;
  width: 100px;
}

tr {
  padding: 30px;
}

.container {
  overflow-x: auto;
}

.card-container {
  display: grid;
  padding: 2rem 18rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 150px;
    padding: 10px 15px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    /*background: rgba(47, 158, 20, 0.15);*/
    background-color: white;
    border-radius: 3px;
    /* border: solid rgb(42, 106, 10); */
    border-width: 1px;
    margin-bottom: 10px;
  }

  .card-container {
    display: grid;
    padding: 2rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
  }

  .card-container .card img {
    height: 150px;
    width: 50px;
  }

  .btn-text {
    font-size: 9px;
  }

  button {
    width: 100px;
  }

}
